body{

}
#root{
    margin: auto;
    max-width: 680px;
    position: relative;
    height: calc(100dvh - 16px);
}

.p-chores-sheet__toggle-btn{
    background: #000;
}

.p-chores__card{
    border-left: 4px solid #65b2c6;
    margin-bottom: 8px;
    text-align: left;
    
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

    &:last-of-type{
        margin-bottom: 16px;
    }
}


.MuiListItemText-root{
    margin: 0 !important;
}