.l-header__tablist{
    .l-header__tablist__item{
        font-size: 16px;
    }
}

.p-chores-sheet__toggle-btn{
    background: #000;
}

.p-chores__card{
    border-left: 4px solid #1976d2;

    + .p-chores__card{
        margin-top: 10px;
    }
    
    .p-chores__card__title{
        display: inline-block;
        font-size: 16px;
    }
    
    .p-chores__card__point{
        display: inline-block;
        font-size: 12px;
        strong{
            font-size: 18px;
            font-weight: bold;
            color: #FF9632;
            padding-right: 2px;
        }
    }
    
    .p-chores__card__description{
        color: #999;
        font-size: 12px;
    }
}


.MuiListItemText-root{
    margin: 0 !important;
}